{% load static %}

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>DB process</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
  </head>

  <body>
    <h1>DB process finish</h1>
  <p class="finish_state">
    delete_num = {{ delete_num }}
  </p>
  <p class="finish_state">
    finish_num = {{ finish_num }}
  </p>
  <p class="finish_state">
    pre limit_num = {{ pre_limit_num }}
  </p>
  <p class="finish_state">
    now limit_num = {{ limit_num }}
  </p>
  </body>
</html>